{% extends 'base.html.twig' %}

{% block title %}Mes posts
{% endblock %}

{% block body %}
	<div class="col-xs4">
		<h1>Post de
			{{app.user.username}}</h1>

		{% for post in app.user.post %}
			<div class="col-xs1">Question:</div>
			<div class="col-xs3">{{post.question}}</div>
			<div class="col-xs1">Contenu:
			</div>
			<div class="col-xs3">{{post.question}}</div>

		{% endfor %}
	</div>
{% endblock %}
